body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
html{color:#000;overflow-y:scroll;overflow:-moz-scrollbars-vertical}
body,button,input,select,textarea{font-size:12px;font-family:'思源黑体 CN',Helvetica,'Hiragino Sans GB','Microsoft Yahei','微软雅黑';color: #333;}
h1,h2,h3,h4,h5,h6{font-size:100%}
em{font-style:normal}
small{font-size:12px}
ul,ol{list-style:none}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;outline: none;border: 0;}
table{border-collapse:collapse;border-spacing:0}
img{-ms-interpolation-mode:bicubic}
textarea{resize:vertical}
a{outline: none;cursor: pointer;color: #333;text-decoration: none;}
a:hover{text-decoration: none; }
.left{float:left}
.right{float:right}
.overflow{overflow:hidden}
.hide{display:none}
.block{display:block}
.inline{display:inline}
.error{color:#F00;font-size:12px}
label,button{cursor:pointer}
.clearfix:after{content:'\20';display:block;height:0;clear:both}
.clearfix{zoom:1}.clear{clear:both;height:0;line-height:0;font-size:0;visibility:hidden;overflow:hidden}
.wordwrap{word-break:break-all;word-wrap:break-word}
pre.wordwrap{white-space:pre-wrap}
body,form{position:relative}
td{text-align:left}
img{border:0}
*,*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*公共样式*/
.m-l-30{margin-left: 30px;}
.m-b-10{margin-bottom: 10px;}
.m-b-20{margin-bottom: 20px;}
.m-b-30{margin-bottom: 30px;}
.f-s-16{font-size: 16px;}
.f-s-18{font-size: 18px;}
.f-s-20{font-size: 20px;}
.f-s-22{font-size: 22px;}
.f-s-24{font-size: 24px;}
.f-s-28{font-size: 28px;}
.f-s-40{font-size: 40px;}
.text-white{color: #fff;}
.text-blue{color: #043883;}
.text-yellow{color: #f6c549;}
.row {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -2%
}

.row.centered {
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center
}

.row.centered .col,.row.centered .xs-col-1,.row.centered .xs-col-2,.row.centered .xs-col-3,.row.centered .xs-col-4,.row.centered .xs-col-5,.row.centered .xs-col-6,.row.centered .xs-col-7,.row.centered .xs-col-8,.row.centered .xs-col-9,.row.centered .xs-col-10,.row.centered .xs-col-11,.row.centered .xs-col-12 {
	padding-left: 1%;
	padding-right: 1%
}

.row.right {
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end
}

.row.bottom {
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end
}

.row.around {
	-ms-flex-pack: distribute;
	-webkit-justify-content: space-around;
	justify-content: space-around
}

.row.between {
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between
}

.row.equal .col,.row.equal .xs-col-1,.row.equal .xs-col-2,.row.equal .xs-col-3,.row.equal .xs-col-4,.row.equal .xs-col-5,.row.equal .xs-col-6,.row.equal .xs-col-7,.row.equal .xs-col-8,.row.equal .xs-col-9,.row.equal .xs-col-10,.row.equal .xs-col-11,.row.equal .xs-col-12 {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.row.equal .col>div,.row.equal .xs-col-1>div,.row.equal .xs-col-2>div,.row.equal .xs-col-3>div,.row.equal .xs-col-4>div,.row.equal .xs-col-5>div,.row.equal .xs-col-6>div,.row.equal .xs-col-7>div,.row.equal .xs-col-8>div,.row.equal .xs-col-9>div,.row.equal .xs-col-10>div,.row.equal .xs-col-11>div,.row.equal .xs-col-12>div {
	-ms-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1
}

.row.splice {
	margin-left: 0
}

.row.splice .col,.row.splice .xs-col-1,.row.splice .xs-col-2,.row.splice .xs-col-3,.row.splice .xs-col-4,.row.splice .xs-col-5,.row.splice .xs-col-6,.row.splice .xs-col-7,.row.splice .xs-col-8,.row.splice .xs-col-9,.row.splice .xs-col-10,.row.splice .xs-col-11,.row.splice .xs-col-12 {
	padding-left: 0
}

.col,.xs-col-1,.xs-col-2,.xs-col-3,.xs-col-4,.xs-col-5,.xs-col-6,.xs-col-7,.xs-col-8,.xs-col-9,.xs-col-10,.xs-col-11,.xs-col-12 {
	-ms-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-basis: 0;
	-ms-flex-basis: 0;
	flex-basis: 0;
	max-width: 100%;
	padding-left: 2%
}

.col.first,.first.xs-col-1,.first.xs-col-2,.first.xs-col-3,.first.xs-col-4,.first.xs-col-5,.first.xs-col-6,.first.xs-col-7,.first.xs-col-8,.first.xs-col-9,.first.xs-col-10,.first.xs-col-11,.first.xs-col-12 {
	order: -1
}

.col.last,.last.xs-col-1,.last.xs-col-2,.last.xs-col-3,.last.xs-col-4,.last.xs-col-5,.last.xs-col-6,.last.xs-col-7,.last.xs-col-8,.last.xs-col-9,.last.xs-col-10,.last.xs-col-11,.last.xs-col-12 {
	order: 1
}
.col-1 {
	flex-basis: 8.33333%;
	max-width: 8.33333%;
	width: 8.33333%
}

.col-2 {
	flex-basis: 16.66667%;
	max-width: 16.66667%;
	width: 16.66667%
}

.col-2_5 {
	flex-basis: 20%;
	max-width: 20%;
	width: 20%
}

.col-3 {
	flex-basis: 25%;
	max-width: 25%;
	width: 25%
}

.col-4 {
	flex-basis: 33.33333%;
	max-width: 33.33333%;
	width: 33.33333%
}

.col-5 {
	flex-basis: 41.66667%;
	max-width: 41.66667%;
	width: 41.66667%
}

.col-6 {
	flex-basis: 50%;
	max-width: 50%;
	width: 50%
}

.col-7 {
	flex-basis: 58.33333%;
	max-width: 58.33333%;
	width: 58.33333%
}

.col-8 {
	flex-basis: 66.66667%;
	max-width: 66.66667%;
	width: 66.66667%
}

.col-9 {
	flex-basis: 75%;
	max-width: 75%;
	width: 75%
}

.col-10 {
	flex-basis: 83.33333%;
	max-width: 83.33333%;
	width: 83.33333%
}

.col-11 {
	flex-basis: 91.66667%;
	max-width: 91.66667%;
	width: 91.66667%
}

.col-12 {
	flex-basis: 100%;
	max-width: 100%;
	width: 100%
}

.details_popup_wrap{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: #fff;
	opacity: 0;
	transition: opacity 0.5s;
}
.details_popup_wrap.show{
	opacity: 1;
	z-index: 25;
}
/*叶子快递*/
.leaf_label{
	display: inline-block;
	background: #043883;
	padding: 5px 7px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-left: 8px;
	color: #fffdfd !important;
	box-shadow: rgba(0,0,0,0.33) 2px 0px 4px;
}
/*自定义样式*/
body, html {
	width: 100%;
	height: 100%!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #ffffff;
}
body {
	position: relative;
	overflow: hidden;
}
.flex{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-grow{
	-ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-basis: 0;
    flex-basis: 0;
}
.container{
	position: relative;
	z-index: 10;
}
.header{
	position: fixed;
	top: 30px;
	z-index: 15;
	width: 100%;
}
.header .container{
	/*max-width: 1730px;*/
}
.header .logo{
	margin-left: 4.9%;
	margin-right: 7.8%;
	max-width: 165px;
}
.header_tools_group{
	max-width: 110px;
	text-align: right;
	margin-right: 5.2%;
}
.tools__phone_block{
	width: 228px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	position: absolute;
	right: -228px;
	top: 85px;
	background: #fff;
	transition: right 0.4s;
}
.tools__phone_block.open{
	right: 0px;
}
.tools__phone_block i{
	display: inline-block;
	width: 16px;
	height: 17px;
	background: url(../images/icon_phone_black.png) no-repeat center;
	vertical-align: middle;
	margin-right: 10px;
}
.tools__phone_block span{
	font-size: 16px;
	color: #333;
	vertical-align: middle;
}
.tools__wechat_block{
	opacity: 0;
	transition: opacity 0.4s;
	position: absolute;
	left: -22px;
	top: -22px;
	width: 78px;
	height: 78px;
	z-index: 10;
}
.tools__wechat:hover .tools__wechat_block{
	opacity: 1;
}

.header .nav_list{
	position: relative;
	width: 100%;
	height: auto;
}
.header li{
	position: relative;
	display: inline-block;
	text-transform: uppercase;
}
.header .nav_item{margin-right: 70px;}
@media screen and (max-width: 1920px) {
	.header .nav_item{margin-right: 40px;}
} 
/*.header .nav_item:last-child{}*/
.header .nav_item a{
	font-size: 18px;
	display: block;
	width: 77px;
	position: relative;
	color: #fff;
	padding-top: 5px;
}
.header .nav_item a:after,.header .nav_item a:before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #f9f9f9;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .18;
}
.header .nav_item a:after {
	opacity: 1;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transition: opacity 0.4s cubic-bezier(0.24, 0.015, 0.145, 0.93) 0s,-webkit-transform 0.4s cubic-bezier(0.405, 0.07, 0.575, 0.995) 0.1s,-webkit-transform-origin 0.1s cubic-bezier(0.405, 0.07, 0.575, 0.995) 0s;
	transition: opacity 0.4s cubic-bezier(0.24, 0.015, 0.145, 0.93) 0s,-webkit-transform 0.4s cubic-bezier(0.405, 0.07, 0.575, 0.995) 0.1s,-webkit-transform-origin 0.1s cubic-bezier(0.405, 0.07, 0.575, 0.995) 0s;
	transition: transform 0.4s cubic-bezier(0.405, 0.07, 0.575, 0.995) 0.1s,transform-origin 0.1s cubic-bezier(0.405, 0.07, 0.575, 0.995) 0s,opacity 0.4s cubic-bezier(0.24, 0.015, 0.145, 0.93) 0s;
	transition: transform 0.4s cubic-bezier(0.405, 0.07, 0.575, 0.995) 0.1s,transform-origin 0.1s cubic-bezier(0.405, 0.07, 0.575, 0.995) 0s,opacity 0.4s cubic-bezier(0.24, 0.015, 0.145, 0.93) 0s,-webkit-transform 0.4s cubic-bezier(0.405, 0.07, 0.575, 0.995) 0.1s,-webkit-transform-origin 0.1s cubic-bezier(0.405, 0.07, 0.575, 0.995) 0s;
}
.header .nav_item a:hover:after,.header .nav_item_current a:after  {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.405, 0.07, 0.575, 0.995);
	transition: -webkit-transform 0.4s cubic-bezier(0.405, 0.07, 0.575, 0.995);
	transition: transform 0.4s cubic-bezier(0.405, 0.07, 0.575, 0.995);
	transition: transform 0.4s cubic-bezier(0.405, 0.07, 0.575, 0.995), -webkit-transform 0.4s cubic-bezier(0.405, 0.07, 0.575, 0.995);
}
.header .nav_item a:before {
	-webkit-transition: opacity 0.9s cubic-bezier(0.24, 0.015, 0.145, 0.93);
	transition: opacity 0.9s cubic-bezier(0.24, 0.015, 0.145, 0.93);
}
.body_page_service .header .nav_item a,.body_page_team .header .nav_item a{
	color: #333;
}
.body_page_service .header .nav_item a:after,.body_page_service .header .nav_item a:before,.body_page_team .header .nav_item a:after,.body_page_team .header .nav_item a:before {
	background-color: #000;
}

.header_popup{
	position: relative;
	width: 100%;
	z-index: 10;
}
.header_popup .logo{
	position: absolute;
	left: 5.2%;
	top: 30px;
}
.header_popup .close{
	position: absolute;
	right: 8.22%;
	top: 30px;
	width: 30px;
	height: 30px;
}
.header_popup .close:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 1px;
	background: #eeeded;
	transform:rotate(45deg);
}
.header_popup .close:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 1px;
	background: #eeeded;
	transform:rotate(-45deg);
}
.header_popup .black_close:after{
	background: #333;
}
.header_popup .black_close:before{
	background: #333;
}




/*内容*/
.main {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
}
.main_show{
	visibility: inherit;
	opacity: 1;
}
.slider_container {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 5;
}
.rsOverflow {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent
}
.rsContainer {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color: transparent
}
.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 100%;
}
.rsSlide_wrap{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.4s;
	z-index: 5;
	position: relative;
	overflow: auto;
}
.rsActiveSlide .rsSlide_wrap{
	opacity: 1;
}
.page_title{
	position: absolute;
	left: 5.98%;
	top: 50%;
	z-index: 10;
	margin-top: -18px;
	width: 44px;
	height: 36px;
}

.main_bg {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 3;
}
.main_bg .bg{
	top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	transition: opacity 3s;
	opacity: 0;
}
.main_bg .bg_{
	background: url(../images/bg_home.jpg) no-repeat center;
	background-size: cover;
}
.main_bg .bg_service{
	background: url(../images/bg_service.jpg) no-repeat center;
	background-size: cover;
}
.main_bg .bg_develop{
	background: url(../images/bg_develop.jpg) no-repeat center;
	background-size: cover;
}
.main_bg .bg_industry{
	background: url(../images/bg_industry.jpg) no-repeat center;
	background-size: cover;
}
.main_bg .bg_explore{
	background: url(../images/bg_explore.jpg) no-repeat center;
	background-size: cover;
}
.main_bg .bg_data{
	background: url(../images/bg_data.jpg) no-repeat center;
	background-size: cover;
}
.main_bg .bg_team{
	background: #f9f9f9;
	background-size: cover;
}
.main_bg .bg_cooperation{
	background: url(../images/bg_cooperation.jpg) no-repeat center;
	background-size: cover;
}
.main_bg .bg_contact{
	background: url(../images/bg_contact.jpg) no-repeat center;
	background-size: cover;
}
/*首页*/
.page_home{}
.page_home .white_block{
	position: absolute;
	width: 22.18%;
	padding-top: 22.18%;
	/*height: 426px;*/
	left: 49.47%;
	bottom: 34.68%;
	border: #ebe7e7 1px solid;
	z-index: 1;
	transform:rotate(-45deg);
}
.page_home .white_block:after{
	content: "";
	width: 22%;
	height: 22%;
	position: absolute;
	bottom: -5%;
	left: -10%;
	background: rgba(255,254,253,0.13);
}
.page_home .white_block:before{
	content: "";
	width: 22%;
	height: 22%;
	position: absolute;
	bottom: -10%;
	right: -10%;
	background: rgba(255,254,253,0.13);
}
.page_home .ico_mouse{
	position: absolute;
	width: 20px;
	height: 49px;
	background: url(../images/ico_-mouse.png) no-repeat center;
	left: 50%;
	margin-left: -10px;
	bottom: 110px;
	z-index: 2;
}
.home_banner_bg,.home_banner_cont{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
.home_banner_bg li,.home_banner_cont li{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	transition: opacity 1s;
}
.home_banner_bg li.current,.home_banner_cont li.current{
	z-index: 5;
	opacity: 1;
}
.home_banner_cont{
	z-index: 2;
}
.home_banner_cont .content{
	position: absolute;
	left: 13%;
	top: 27.65%;
}
.home_banner_cont .content h1{
	font-size: 94px;
	color: #043883;
}
.home_banner_cont .content h2{
	font-size: 94px;
	color: #fffefe;
	margin-bottom: 25px;
}
.home_banner_cont .content h2 span{
	display: block;
	width: 170px;
	height: 2px;
	background: #fffefd;
}
.home_banner_cont .content h3{
	font-size: 32px;
	color: #fffefe;
	margin-bottom: 5px;
}
.home_banner_cont .content h4{
	color: #e8e7e7;
	font-size: 17px;
}
.home_banner_dot{
	position: absolute;
	width: 100%;
	height: 15px;
	left: 0;
	bottom: 50px;
	z-index: 5;
	text-align: center;
}
.home_banner_dot .item{
	width: 175px;
	height: 15px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.home_banner_dot .item .dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	position: relative;
	margin-right: 10px;
}
.home_banner_dot .item .dot:after{
	content: "";
	position: absolute;
	left: 5px;
	top: 5px;
	width: 5px;
	height: 5px;
	background: #9a9897;
	border-radius: 100%;
}
.home_banner_dot .item .dot:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
	border: #f9f9fa 1px solid;
	border-radius: 100%;
	opacity: 0;
}
.home_banner_dot .item .line{
	width: 138px;
	height: 1px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	background: #8c8f93;
}
.home_banner_dot .item .line:after{
	content: "";
	position: absolute;
	width: 0px;
	height: 3px;
	left: 0px;
	top: -1px;
	background: #ffffff;
}
.home_banner_dot .item.pass .dot:after{
	opacity: 0;
}
.home_banner_dot .item.current .dot:after{
	opacity: 1;
}
.home_banner_dot .item.pass .dot:before,.home_banner_dot .item.current .line:after{
	opacity: 1;
}
.home_banner_dot .item.current .line:after{
	transition: width 8s linear;
	width: 138px;
}
.home_banner_dot .item.pass .line:after{
	width: 138px;
}
/*服务内容*/
.page_service{}
.service_slide{
	background: #fff;
}
.service_slide.show{
	z-index: 13;
}
.service_slide ul.banner{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
.service_slide ul.banner li{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: opacity 1s;
}
.service_slide ul.banner li.current{
	opacity: 1;
}
.service_slide .banner .wrap{
	position: relative;
	width: 100%;
	height: 100%;
}
.service_slide .banner .img_bg{
	position: absolute;
	top: 11.59%;
	left: 5.2%;
	width: 89.6%;
	height: auto;
	z-index: 1;
}
.service_slide .banner .img_title{
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
}
.service_slide .banner .img_title h1{
	position: absolute;
	top: 30.31%;
	left: 8.07%;
}
.service_slide .banner .img_title p{
	position: absolute;
	top: 39.36%;
	left: 8.07%;
	width: 42.7%;	
}
.service_slide .banner .bottom_title{
	position: absolute;
	z-index: 3;
	width: 20.36%;
	left: 5.2%;
	bottom: 3.8%;
}
.service_slide .banner .bottom_text{
	position: absolute;
	text-align: right;
	color: #333;
	right: 5.2%;
	bottom: 12.76%;
	z-index: 4;
}
.service_slide .operation{
	position: absolute;
	z-index: 2;
	right: 5.2%;
	bottom: 7.23%;
}
.service_slide .operation .pre{
	cursor: pointer;
	display: inline-block;
	width: 119px;
	height: 20px;
	background: url(../images/service_slide_pre.png) no-repeat center;
	vertical-align: middle;
}
.service_slide .operation .next{
	cursor: pointer;
	display: inline-block;
	width: 75px;
	height: 20px;
	background: url(../images/service_slide_next.png) no-repeat center;
	vertical-align: middle;
}
.service_slide .operation .dotbox{
	display: inline-block;
	vertical-align: middle;
}
.service_slide .operation .dotbox li{
	display: inline-block;
	font-size: 21px;
	color: #909090;
	cursor: pointer;
	width: 35px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	position: relative;
}
.service_slide .operation .dotbox li.current:after{
	content: "";
	position: absolute;
	left: 11px;
	top: 3.5px;
	width: 13px;
	height: 13px;
	border-radius: 100%;
	background: #6d6d6d;
}
.service_slide .operation .dotbox li.current span{
	opacity: 0;
}
.service_slide_details{
	background: #f0f0f0;
}
.service_slide_details.show{
	z-index: 25;
}
.service_slide_details .img_bg{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
.service_slide_details .img_text{
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	top: 12.76%;
	z-index: 3;
}
.service_slide_details .close{
	position: absolute;
	right: 10.41%;
	top: 6.38%;
	z-index: 5;
	width: 21px;
	height: 21px;
	background: url(../images/icon_close.png) no-repeat center;
}
.service_slide_details .back{
	position: absolute;
	right: 14.58%;
	bottom: 3.19%;
	z-index: 5;
	width: 76px;
	height: 82px;
	background: url(../images/icon_back.png) no-repeat center;
}
.yellow_theme .back{
	width: 76px;
	height: 72px;
	background: url(../images/icon_back_yellow.png) no-repeat center;
}
.yellow_theme .back1{
	width: 81px;
	height: 24px;
	background: url(../images/icon_back_yellow1.png) no-repeat center;
}
.service_slide_details .menus_title{
	position: absolute;
	color: #474747;
	z-index: 2;
	left: 11.45%;
	top: 38.82%;
}
.service_slide_details .menus_list1{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.service_slide_details .menus_list1>li{
	min-height: 110px;
	position: absolute;
	color: #6a6a6a;
	left: 0;
	top: 0;
	opacity: 0.3;
}
.service_slide_details .menus_list1>li .title1{
	cursor: pointer;
}
.service_slide_details .menus_list1>li.current{opacity: 1;}
.service_slide_details .menus_list2>li .title2{
	cursor: pointer;
	min-height: 20px;
	line-height: 20px;
	margin: 15px 0px;
}
.service_slide_details .menus_list2>li .title2 h1{vertical-align: middle;display: inline-block;font-size: 16px;}
.service_slide_details .menus_list2>li.current .title2 h1{
	font-size: 18px;
	color: #3267a0;
}
.yellow_theme .menus_list2>li.current .title2 h1{
	color: #aa7d0d;
}
.service_slide_details .menus_list2>li .title2 .arrowPlus{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	-moz-transition: .4s .2s;
	-o-transition: .4s .2s;
	-webkit-transition: .4s;
	-webkit-transition-delay: .2s;
	transition: .4s .2s;
}
.service_slide_details .menus_list2>li .title2 .arrowPlus span, .service_slide_details .menus_list2>li .title2 .arrowPlus:before, .service_slide_details .menus_list2>li .title2 .arrowPlus:after {
	content: '';
	display: block;
	position: absolute;
	-moz-transition: .2s;
	-o-transition: .2s;
	-webkit-transition: .2s;
	transition: .2s;
}
.service_slide_details .menus_list2>li .title2 .arrowPlus span, .service_slide_details .menus_list2>li .title2 .arrowPlus:before {
	width: 10px;
	height: 10px;
	border: 2px solid #3267a0;
}
.service_slide_details .menus_list2>li .title2 .arrowPlus:before {
	border: 2px solid #3267a0;
}
.yellow_theme .menus_list2>li .title2 .arrowPlus:before {
	border: 2px solid #aa7d0d;
}

.service_slide_details .menus_list2>li .title2 .arrowPlus span {
	top: 0;
	left: 0;
	border-top: none;
	border-left: none;
}

.service_slide_details .menus_list2>li .title2 .arrowPlus:before {
	top: 8px;
	left: 8px;
	border-bottom: none;
	border-right: none;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.service_slide_details .menus_list2>li .title2 .arrowPlus:after {
	right: 0;
	bottom: 0;
	height: 20px;
	width: 2px;
	background: #3267a0;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-moz-transform: rotate(-45deg) scale3d(1, 0, 1);
	-ms-transform: rotate(-45deg) scale3d(1, 0, 1);
	-webkit-transform: rotate(-45deg) scale3d(1, 0, 1);
	transform: rotate(-45deg) scale3d(1, 0, 1);
}
.yellow_theme .menus_list2>li .title2 .arrowPlus:after {
	background: #aa7d0d;
}
.service_slide_details .menus_list2>li.current .title2 .arrowPlus {
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.service_slide_details .menus_list2>li.current .title2 .arrowPlus:before {
	-moz-transform: scale3d(0, 0, 1);
	-webkit-transform: scale3d(0, 0, 1);
	transform: scale3d(0, 0, 1);
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.service_slide_details .menus_list2>li.current .title2 .arrowPlus span {
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
	-moz-transform: translate3d(10px, 10px, 0);
	-webkit-transform: translate3d(10px, 10px, 0);
	transform: translate3d(10px, 10px, 0);
}
.service_slide_details .menus_list2>li.current .title2 .arrowPlus:after {
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
	-moz-transform: rotate(-45deg) scale3d(1, 1, 1);
	-ms-transform: rotate(-45deg) scale3d(1, 1, 1);
	-webkit-transform: rotate(-45deg) scale3d(1, 1, 1);
	transform: rotate(-45deg) scale3d(1, 1, 1);
}



.service_slide_details .menus_list3{display: none;}
.service_slide_details .menus_list3.show{display: block;}
.service_slide_details .menus_list3>li{
	margin-left: 9px;
	min-height: 35px;
	line-height: 35px;
	padding-left: 18px;
	background: url(../images/service_slide_details_line.png) no-repeat left center;
}

.page_service .service_init{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.page_service .service_init .left_wrap{
	width: 49%;
	background: #fff;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.page_service .service_init .right_wrap{
	width: 41.51%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
.page_service .service_init ul{
	position: absolute;
	left: 23.4%;
	top: 46.8%;
	z-index: 6;
}
.page_service .service_init ul li{
	color: #666666;
	margin-bottom: 4.78%;
	position: relative;
	padding-left: 45px;
}
.page_service .service_init ul li:after{
	position: absolute;
	content: "";
	width: 24px;
	height: 24px;
	background: url(../images/ico_add_blue.png) no-repeat center;
	left: 0;
	top: 5px;
}
.page_service .service_init ul li h1{
	font-size: 16px;
}
.page_service .service_init ul li p{
	font-size: 14px;
}
.page_service .service_init .right_wrap ul{
	left: 0;
	top: 19.46%;
}
.page_service .service_init .right_wrap ul li{
	color: #fffefd;
}
.page_service .service_init .right_wrap ul li:after{
	background: url(../images/ico_add.png) no-repeat center;
}
.page_service .service_init .service_gray_line{
	width: 17.44%;
	height: 17.34%;
	border: #f2f2f2 8px solid;
	position: absolute;
	left: 16.35%;
	top: 24.78%;
	z-index: 1;
}
.page_service .service_init .service_blue_block{
	width: 8.48%;
	height: 12.12%;
	background: #043883;
	position: absolute;
	left: 0;
	bottom: 20.21%;
	z-index: 5;
}
.page_service .service_init .service_yellow_block{
	width: 41.61%;
	height: 22.44%;
	background: #ce9b20;
	position: absolute;
	right: 0;
	bottom: 27.12%;
	z-index: 5;
}
.page_service .service_init .service_yellow_text{
	position: absolute;
	z-index: 6;
	width: 33.33%;
	text-align: right;
	bottom: 32.97%;
	right: 8.33%;
}
.page_service .service_init .service_img{
	width: 32.13%;
	position: absolute;
	bottom: 0;
	left: 16.85%;
	z-index: 5;
}
.page_service .service_init .service_img img{display: block;}
.page_service .service_init .service_yellow_text h1{
	font-size: 40px;
	color: #fff;
}
.page_service .service_init .service_yellow_text h2{
	font-size: 30px;
	color: #ecebeb;
}
.page_service .service_init .left_wrap .bg_text{
	position: absolute;
	right: 0;
	top: 58.51%;
	font-size: 163px;
	color: #f2f2f2;
	z-index: 1;
	font-weight: bold;
}
.page_service .service_init .left_wrap .title{
	position: absolute;
	left: 23.4%;
	top: 28.19%;
	z-index: 5;
}
.page_service .service_init .left_wrap .title h1{
	color: #333333;
	font-size: 42px;
}
.page_service .service_init .left_wrap .title h2{
	color: #666666;
	font-size: 30px;
	position: relative;
}
.page_service .service_init .left_wrap .title h2 span{
	position: relative;
	z-index: 5;
}
.page_service .service_init .left_wrap .title h2 i{
	position: absolute;
	width: 196px;
	height: 4px;
	background: #06449d;
	left: 0;
	top: 50%;
	margin-top: -2px;
	z-index: 1;
}
/*数据调研*/
.page_data{}
.page_data ul{
	width: 100%;
	height: 100%;
	position: relative;
}
.page_data ul li{
	position: absolute;
	width: 27.39%;
}
.page_data ul li.item1{
	left: 5.6%;
	top: 24.46%;
}
.page_data ul li.item2{
	left: 36.19%;
	top: 14.89%;
}
.page_data ul li.item3{
	right: 6.09%;
	top: 14.89%;
}
.page_data ul li .img{
	width: 100%;
	cursor: pointer;
	position: relative;
}
.page_data ul li .img_wrap{
	position: absolute;
	left: 30px;
	top: 135px;
}
.page_data ul li .img_wrap .title{
	font-size: 40px;
	color: #fdfdfd;
}
.page_data ul li .img_wrap .year{
	color: #fffefe;
	font-size: 48px;
	display: inline-block;
	margin-right: 10px;
}
.page_data ul li .img_wrap .text{
	color: #fffefe;
	font-size: 18px;
	display: inline-block;
}
.page_data ul li h1{
	margin-top: 25px;
	font-size: 20px;
	color: #fefeff;
}
.page_data ul li h2{
	font-size: 32px;
	color: #fdfdfd;
}
.page_data ul li h3{
	font-size: 32px;
	color: #fefeff;
}
.page_data ul li h3 span{
	font-size: 20px;
}
/*数据调研详情*/
.data_details{
	background: #fcffff;
}
.data_details .bg_img{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 56.87%;
	background: url(../images/data_details_img1.jpg) no-repeat center;
	background-size: cover;
}
.data_details .content_wrap{
	position: absolute;
	left: 0;
	top: 9.57%;
	width: 84.9%;
	height: 81.91%;
	background: #f3f3f3;
}
.data_details .box1{
	cursor: pointer;
	position: absolute;
	left: 12.44%;
	top: 25.53%;
	width: 9.37%;
	height: 46.48%;
	border: #000 1px solid;
}
.data_details .box1 span{
	font-size: 36px;
	color: #333333;
	position: absolute;
	left: -25%;
	top: 30%;
	transform:rotate(-90deg);
	letter-spacing: 5px;
}
.data_details .box2{
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 39.36%;
	width: 9.37%;
	height: 46.48%;
	border: rgba(253,251,251,0.22) 1px solid;
}
.data_details .box2 span{
	font-size: 36px;
	color: #fefefe;
	position: absolute;
	left: -15px;
	top: 25%;
	transform:rotate(-90deg);
	letter-spacing: 5px;
}
.data_details .box2:after{
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -9px;
	bottom: 10%;
	width: 19px;
	height: 35px;
	background: url(../images/icon_up_-arrows.png) no-repeat center;
}
.data_details .play{
	cursor: pointer;
	position: absolute;
	right: 21.77%;
	top: 46.27%;
	width: 83px;
	height: 83px;
	background: url(../images/icon_play.png) no-repeat center;
}
.data_details .cont{
	position: absolute;
	left: 28.64%;
	top: 27.12%;
	width: 42.18%;
}
.data_details .cont h1{
	font-size: 16px;
	color: #333333;
	margin-bottom: 30px;
}
.data_details .cont h2{
	font-size: 44px;
	color: #043883;
	margin-bottom: 40px;
}
.data_details .cont h3{
	font-size: 28px;
	color: #333333;
	text-decoration: underline;
	margin-bottom: 150px;
}
.data_details .cont .btn{}
.data_details .cont button{
	display: inline-block;
	background: none;
	border: 0;
	position: relative;
	width: 181px;
	height: 48px;
	margin-right: 100px;
}
.data_details .cont button:after{
	content: "";
	position: absolute;
	left: -20px;
	top: 5px;
	width: 1px;
	height: 51px;
	background: #333333;
}
.data_details .cont button:before{
	content: "";
	position: absolute;
	right: -20px;
	top: -5px;
	width: 1px;
	height: 51px;
	background: #333333;
}
.data_details .cont button span{
	display: block;
	width: 181px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	font-size: 16px;
	color: #333;
	position: relative;
}
.data_details .cont button span:after{
	content: "";
	position: absolute;
	left: 0;
	top: -5px;
	width: 195px;
	height: 1px;
	background: #333333;
}
.data_details .cont button span:before{
	content: "";
	position: absolute;
	right: 0;
	bottom: -5px;
	width: 195px;
	height: 1px;
	background: #333333;
}
.data_details .cont button.btn_login:after{
	background: #c9a232;
}
.data_details .cont button.btn_login:before{
	background: #c9a232;
}
.data_details .cont button.btn_login span{
	background: #c9a232;
	color: #fcfbfb;
}
.data_details .cont button.btn_login span:after{
	background: #c9a232;
}
.data_details .cont button.btn_login span:before{
	background: #c9a232;
}
/*错误详情*/
.error_hint{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(2,2,2,0.5);
	z-index: 0;
	transition: opacity 0.5s;
}
.error_hint.show{
	opacity: 1;
	z-index: 50;
}
.error_hint .text_block{
	position: absolute;
	left: 22.18%;
	top: 28.19%;
	width: 55.63%;
	height: 43.62%;
	text-align: center;
	background: #fcfdfe;
}
.error_hint .text_block div{
	position: absolute;
	top:50%;
	left:50%;
	width:100%;
	transform:translate(-50%,-50%);
}
.error_hint .text_block .close{
	position: absolute;
	right: 30px;
	top: 30px;
	width: 30px;
	height: 30px;
}
.error_hint .text_block .close:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 1px;
	background: #555555;
	transform:rotate(45deg);
}
.error_hint .text_block .close:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 1px;
	background: #555555;
	transform:rotate(-45deg);
}
.error_hint .text_block h1{
	font-size: 43px;
	color: #333;
	margin-bottom: 10px;
}
.error_hint .text_block h2{
	font-size: 21px;
	color: #333;
}

/*发展历程*/
.page_develop{}
.page_develop .map_wrap{
	width: 38.54%;
	height: 68%;
	position: absolute;
	right: 8.33%;
	top: 21.27%;
}
.page_develop .map_wrap #china_map{
	width: 100%;
	height: 100%;
}
.page_develop .timeLine_wrap{
	position: absolute;
	left: 0;
	top: 11.7%;
	width: 100%;
	height: 8.51%;
}
.page_develop .timeLine_block{
	width: 9.53%;
	height: 100%;
	background: #043883;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.page_develop .timeLine_wrap ul{text-align: center;position: relative;z-index: 5;width: 100%;height: 100%;}
.page_develop .timeLine_wrap ul li{
	display: inline-block;
	width: 9.53%;
	height: 100%;
	background: url(../images/timeLine_bg.png) no-repeat center;
	background-size: 100% 100%;
	color: #fff;
	font-size: 16px;
	position: relative;
	border-right: #e0dcde 1px solid;
}
.page_develop .timeLine_wrap ul li:first-child{border-left: #e0dcde 1px solid;}
.page_develop .timeLine_wrap ul li span{
	position: absolute;
	left: 0;
	bottom: 10px;
	right: 0;
}
.page_develop .develop_conten{
	width: 29.16%;
	height: 43.61%;
	position: absolute;
	left: 22.65%;
	top: 30.85%;
}
.page_develop .develop_conten h1{
	color: #fffdfd;
	font-size: 32px;
	margin-bottom: 5.3%;
}
.page_develop .develop_conten .p1{
	color: #fffdfd;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 5.3%;
}
.page_develop .develop_conten .p2{
	font-size: 14px;
	line-height: 24px;
	color: #c6c6c6;
}
.page_develop .develop_conten_time{
	width: 9.37%;
	height: 46.48%;
	border: #fdfdfd 1px solid;
	position: absolute;
	left: 10.78%;
	top: 25.53%;
	text-align: center;
}
.page_develop .develop_conten_time h1{
	font-size: 36px;
	color: #fdfdfd;
	transform: rotate(-90deg);
	margin: 45px 0px;
}
.page_develop .develop_conten_time div{
	width: 23px;
	height: 23px;
	background: url(../images/develop_ico_dot.png) no-repeat center;
	margin: 0 auto;
}
.page_develop .develop_conten_time div.current{
	background: url(../images/develop_ico_circle.png) no-repeat center;
}
/*合作伙伴*/
.page_cooperation{}
.page_cooperation .title{
	color: #fefefe;
	position: relative;
	left: 0;
	top: 17.55%;
	text-align: center;
	right: 0;
}
.page_cooperation .title:after{
	content: '';
	position: absolute;
	width: 70px;
	height: 2px;
	background: #fff;
	left: 50%;
	bottom: -15px;
	margin-left: -35px;
}
.page_cooperation ul{
	position: absolute;
	left: 15.83%;
	top: 27.55%;
	width: 68.33%;
	height: 100%;
}
.page_cooperation ul li{
	height: 20.53%;
	width: 24.88%;
	position: relative;
}
.page_cooperation ul li:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: url(../images/cooperation_li_border.png) no-repeat center;
	background-size: 100% 100%;
	transition: opacity 0.5s;
	opacity: 0;
}
.page_cooperation ul li.current:after{
	opacity: 1;
}
.page_cooperation ul li img{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}
.page_cooperation ul li .cur_img{
	opacity: 0;
}
.page_cooperation ul li.current .img{
	opacity: 0;
}
.page_cooperation ul li.current .cur_img{
	opacity: 1;
}
/*行业研究*/
.page_explore{}
.page_explore .explore_title{
	position: absolute;
	top: 12.23%;
	left: 8.33%;
	color: #fdfdfe;
	font-size: 28px;
}
.page_explore .explore_title:after{
	content: "";
	display: block;
	margin-top: 15px;
	width: 272px;
	height: 1px;
	background: #fdfefe;
}
.page_explore .explore_slider_box{
	position: relative;
	/*left: 0;*/
	/*top: 0;*/
	padding-left: 12.3%;
	padding-top: 200px;
	/*padding-top: 21.27%;*/
	/*width: 87.7%;*/
	width: 100%;
	height: 100%;
}
.page_explore .explore_slider_box .wrap{
	position: relative;
	width: 100%;
}
.page_explore .explore_slider_wrapper{
	overflow: hidden;
	width: 100%;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none; 
}
.page_explore .explore_slider_wrapper .img{
	width: 100%;
	height: 425px;
}
.page_explore .explore_slider_wrapper .img:hover{
	cursor: none;
}
.page_explore ul{
	/*width: 3388px;*/
}
.page_explore li{
	width: 454px;
	padding-right: 20px;
	/*width: 25.83%;*/
}
.page_explore li h1{
	font-size: 14px;
	color: #efeeee;
	margin-top: 25px;
	margin-bottom: 15px;
}
.page_explore li h2{
	font-size: 18px;
	color: #fffcfc;
	margin-bottom: 15px;
}
.page_explore li h3{
	font-size: 16px;
	color: #fefefe;
	margin-bottom: 20px;
}
.page_explore li .btn{
	color: #fefcfc;
	font-size: 16px;
	border: rgba(253,254,255,0.3) 1px solid;
	position: relative;
	width: 122px;
	height: 33px;
	line-height: 33px;
	cursor: pointer;
	z-index: 1;
}
.page_explore li .btn span{
	position: relative;
	z-index: 10;
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 20px;
}
.page_explore li .btn span:after{
	content: "";
	width: 0px;
	height: 1px;
	background: rgba(253,254,255);
	position: absolute;
	left: 96px;
	top: 18px;
	transition: 0.5s;
}
.page_explore li .btn:hover span:after{
	width: 25px;
}
.page_explore li .btn span:before{
	content: "";
	position: absolute;
	right: -15px;
	top: 14px;
	width: 10px;
	height: 1px;
	background: rgba(253,254,255,0.3);
	transform:rotate(45deg);
}
.page_explore li .btn:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0px;
	height: 100%;
	background: #043883;
	transition: 0.5s;
	z-index: 1;
}
.page_explore li .btn:hover:after{
	width: 100%;
}
.page_explore li .btn:before{
	content: "";
	position: absolute;
	right: -14px;
	top: 18px;
	width: 39px;
	height: 1px;
	z-index: 1;
	background: rgba(253,254,255,0.3);
}
.page_explore .explore_slider_mouse{
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 99;
	background: #3d3e3f;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	opacity: 0;
	transform: matrix(1, 0, 0, 1, 200, 90);
	color: #fff;
	text-align: center;
	line-height: 70px;
	transition: opacity 1s;
}
.page_explore .explore_slider_mouse.show{
	opacity: 1;
}
.page_explore .explore_slider_rotate svg{
	transform: rotate(180deg);
}
/*行业动态*/
.page_industry{}
.page_industry .industry_time_line{
	width: 104px;
	height: 67.87%;
	border-right: rgba(216,214,214,0.2) 1px solid;
	position: absolute;
	left: 0;
	top: 14.89%;
	overflow-y: auto;
}
.page_industry .industry_time_line::-webkit-scrollbar {
	display: none;
}
.page_industry .industry_time_line .item{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	color: #feffff;
	font-size: 18px;
	position: relative;
	margin-bottom: 60px;
	cursor: pointer;
}
.page_industry .industry_time_line .item:after{
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	right: -1px;
	top: 0;
	width: 2px;
	opacity: 0;
	background: #fdfcfc;
}
.page_industry .industry_time_line .item.current:after{
	opacity: 1;
}
.page_industry .industry_time_article{
	position: absolute;
	left: 19.27%;
	top: 14.14%;
	width: 80.73%;
	overflow-x: auto;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.5s;
}
.page_industry .industry_time_article::-webkit-scrollbar {
	display: none;
}
.page_industry .industry_time_article.current{
	opacity: 1;
	z-index: 10;
}
.page_industry .industry_time_article ul{
}
.page_industry .industry_time_article ul li{
	width: 1205px;
	padding-left: 45px;
	position: relative;
	margin-right: 180px;
}
.page_industry .industry_time_article ul li .date_title{
	position: absolute;
	top: 0;
	left: 0px;
	color: #fdfbfb;
	font-size: 18px;
}
.page_industry .industry_time_article ul li .date_title:after{
	content: "";
	position: absolute;
	left: 10px;
	top: 28px;
	width: 1px;
	height: 40px;
	background: #eeeeee;
}
.page_industry .industry_time_article ul li .img{
	cursor: pointer;
	width: 1160px;
	height: 517px;
	position: relative;
	z-index: 1;
}
.page_industry .industry_time_article ul li .img .text{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 56px;
	line-height: 56px;
	background: rgba(0,0,0,0.45);
	font-size: 20px;
	color: #fefcfc;
	padding: 0px 20px;
}
.page_industry .industry_time_article ul li h1{
	font-size: 28px;
	color: #fefcfc;
	padding: 25px 20px;
}
.page_industry .industry_time_article ul li p{
	font-size: 14px;
	color: #d2d2d2;
	padding: 0px 20px;
}
/*文章详情*/
.article_details{
	background: #fff;
}
.article_details .head_bg{
	width: 85.62%;
	height: 155px;
	background: url(../images/industry_details_img1.jpg) no-repeat center;
	background-size: cover;
	margin: 0 auto;
	margin-top: 90px;
	position: relative;
	z-index: 2;
}
.article_main_body{
	z-index: 1;
	position: absolute;
	left: 18.89%;
	top: 0px;
	bottom: 0;
	width: 62.23%;
	overflow-y: auto;
}
.article_main_body::-webkit-scrollbar {
	display: none;
}
.article_main_body .cover_block{
	height: 300px;
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	margin-left: 1px;
	z-index: 10;
}
.article_head{
	padding-top: 300px;
	padding-bottom: 90px;
	border-left: #eee 1px solid;
}
.article_main_body .title{
	font-size: 40px;
	color: #333333;
	position: relative;
	padding-bottom: 50px;
	border-bottom: #eee 1px solid;
}
.article_main_body .title:after{
	content: "";
	width: 77px;
	height: 2px;
	background: #000;
	display: block;
	margin-top: 30px;
}
.article_main_body .intro{
	padding: 50px 35px;
	border-bottom: #eee 1px solid;
	font-size: 16px;
	color: #999;
}
.article_main_body .intro>div>span{
	color: #333;
	font-size: 14px;
}
.article_main_body .intro>div{
	margin-bottom: 25px;
}
.article_main_body .intro>div:last-child{margin-bottom: 0;}
.article_main_body .intro .pdf_btn{
	display: block;
	width: 178px;
	height: 39px;
	text-align: center;
	line-height: 39px;
	border-radius: 2px;
	background: #eee;
	font-size: 14px;
	color: #333;
}
.article_main_body .article_body_detail{
	margin-left: 1px;
	padding-bottom: 20px;
}
.article_main_body .article_body_detail h1{
	padding: 25px 0px;
	color: #333;
	font-size: 20px;
	border-bottom: #eee 1px solid;
}
.article_main_body .article_body_detail p{
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}

/*团队介绍*/
.page_team .team_boss{
	position: absolute;
	right: 1.3%;
	bottom: 0;
	width: 16.04%;
	z-index: 2;
	/*height: 60%;*/
}
.page_team .member_intro{
	position: absolute;
	left: 2.08%;
	bottom: 28.72%;
	z-index: 5;
}
.page_team .member_intro h1{
	font-size: 30px;
	color: #333333;
}
.page_team .member_intro h2{
	font-size: 24px;
	color: #3c3c3c;
}
.page_team .member_intro h3{
	font-size: 18px;
	color: #3c3c3c;
}
.page_team .member_intro h4{
	font-size: 16px;
	color: #666666;
}
.page_team .team_picture{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 69.89%;
	height: 89.14%;
	z-index: 1;
	background: url(../images/team_picture.jpg) no-repeat left bottom;
	background-size: 100% 100%;
}
.page_team .team_picture_img{
	position: absolute;
}
.page_team map area{outline: none;}
.team_blue_line1{
	width: 16.66%;
	height: 10px;
	left: 45.31%;
	top: 30.74%;
	background: url(../images/team_blue_line1.png) no-repeat center;
	background-size: 100% 100%;
	z-index: 6;
	position: absolute;
}
.team_blue_line2{
	width: 4.89%;
	height: 10px;
	left: 0;
	bottom: 24.68%;
	background: url(../images/team_blue_line2.png) no-repeat center;
	background-size: 100% 100%;
	z-index: 6;
	position: absolute;
}
.team_boss_intro{
	position: absolute;
	z-index: 7;
	width: 30.72%;
	height: 100%;
	/*top: 15.42%;*/
	top: 0;
	overflow-y: auto;
	right: 13.54%;
}
.team_boss_intro::-webkit-scrollbar {
	display: none;
}
.team_boss_intro h1{
	margin-top: 15.42%;
	font-size: 35.94px;
	margin-bottom: 2.12%;
}
.team_boss_intro h1 span{}
.team_boss_intro h2{
	font-size: 17.97px;
	color: #666;
	margin-bottom: 1.06%;
}
.team_boss_intro p{
	padding: 5.85% 0;
	font-size: 20px;
	color: #666;
	text-indent: 1em;
	line-height: 32px;
}
.team_boss_intro ul{}
.team_boss_intro ul li{
	position: relative;
	font-size: 16px;
	color: #666;
	margin-bottom: 2.65%;
	padding-left: 25px;
	padding-right: 3em;
}
.team_boss_intro ul li:after{
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 12px;
	height: 12px;
	background: #eedb54;
	transform:rotate(45deg);
}
/*联系我们*/
.page_contact .page_block{
	width: 100%;
	height: 100%;
	position: relative;
}
.page_contact .details_block{
	width: 47.6%;
	background: #fff;
	height: 73.19%;
	margin-left: 9.63%;
	margin-top: 8%;
}
.page_contact .form_block{
	width: 28.85%;
	background: #fff;
	height: 73.19%;
	margin-left: 4.42%;
	margin-top: 8%;
}
.page_contact .sh_title{
	height: 33.72%;
	width: 100%;
	position: relative;
	background: url(../images/contact_bg1.jpg) no-repeat center;
	background-size: 100% 100%;
	padding: 6.5% 4.3%;
}
.page_contact .sh_info_wrap{
	width: 100%;
	height: 14.5%;
	font-size: 16px;
	color: #7b7b7b;
}
.page_contact .sh_info_wrap .sh_site{
	width: 70.5%;
	height: 100%;
	padding: 2.4% 4.3%;
	border-right: #dedede 1px solid;
}
.page_contact .sh_info_wrap .sh_mail{
	width: 29.5%;
	height: 100%;
	padding-left: 3.8%;
	padding-top: 2.4%;
}
.page_contact .sh_title h1{margin-bottom: 4.3%;}
.page_contact .other_info_wrap{
	width: 100%;
	height: 51.78%;
}
.page_contact .other_info_wrap>div{
	height: 100%;
	width: 50%;
}
.page_contact .other_info_wrap .title{
	width: 100%;
	height: 37.18%;
	background: #000;
	padding: 7% 7.6%;
}
.page_contact .sz_info_wrap .title{
	background: url(../images/contact_bg2.jpg) no-repeat center;
	background-size: 100% 100%;
}
.page_contact .bj_info_wrap .title{
	background: url(../images/contact_bg3.jpg) no-repeat center;
	background-size: 100% 100%;
}
.page_contact .other_info_wrap .content{
	font-size: 16px;
	color: #7b7b7b;
	padding: 12.3% 7.6%;
}
.page_contact .form_block .wrap{
	width: 70.39%;
	height: 100%;
	margin: 0 auto;
}.page_contact .form_block h1{
	padding-top: 13%;
	padding-bottom: 4.3%;
}
.page_contact .form_block .input{
	width: 100%;
	border: #939393 1px solid;
	display: block;
	margin-bottom: 4.3%;
	color: #7b7b7b;
	font-size: 14px;
	padding: 3.8%;
}
.page_contact .form_block textarea.input{
	height: 25.72%;
	resize: none;
}
.page_contact .form_block button{
	width: 100%;
	height: 7.48%;
	line-height: 7.48%;
	background: #0d4393;
	color: #fff;
	font-size: 16px;
	text-align: center;
}


/*底部*/
.footer_copyright{
	opacity: 0;
	transition: opacity 0.4s;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 4.2%;
	right: 0;
	color: #fff;
	font-size: 14px;
	z-index: 0;
}
.body_page_contact .footer_copyright{
	opacity: 1;
	z-index: 9;
}
.special_trigger{
	position: absolute;
	left: 10.41%;
	bottom: 3.72%;
	z-index: 10;
	border: none;
	outline: none;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: color 0.4s ease;
}
.special_trigger:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 18px;
	margin-right: 10px;
	background-size: contain;
	vertical-align: middle;
	transition: all 0.4s ease;
	background: transparent url(../images/icon_info.png) center center no-repeat!important;
	-webkit-background-size: contain!important;
	background-size: contain!important;
}
.body_page_team .special_trigger,.body_page_service .special_trigger{
	color: #666;
}
.body_page_team .special_trigger:before,.body_page_service .special_trigger:before {
	background: transparent url(../images/icon_info_black.png) center center no-repeat!important;
}
.special_trigger:hover:before {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.footer_tools_group{
	position: absolute;
	right: 6.56%;
	bottom: 5.1%;
	z-index: 10;
}
.body_page_team .footer_tools_group{
	display: none;
}
.bottom__tools{
	
}
.bottom__tools>* {
	vertical-align: middle;
}
.bottom__tools>button {
	display: inline-block;
	width: 35px;
	height: 35px;
	position: relative;
	border: none;
	outline: none;
	cursor: pointer;
}
.bottom__tools>button>span{
	display: none;
}
.bottom__tools>button:after {
	content: '';
	display: block;
	width: 2px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	border: 1px solid #fff;
	border-radius: 100%;
	transition: all 0.4s ease;
}
.body_page_service .bottom__tools>button:after,.body_page_team .bottom__tools>button:after {
	border: 1px solid rgba(0,0,0,0.39);
}

.bottom__tools>button:hover:after,.bottom__tools>button.tools__active:after {
	width: 34px;
	height: 34px;
	opacity: 1;
}
.bottom__tools .tools__nav {
	background: transparent url(../images/icon_nav.png) center center no-repeat;
}
.bottom__tools .tools__share {
	background: transparent url(../images/icon_share.png) center center no-repeat;
}
.bottom__tools .tools__phone {
	background: transparent url(../images/icon_phone.png) center center no-repeat;
}
.bottom__tools .tools__wechat {
	background: transparent url(../images/icon_wechat.png) center center no-repeat;
}
.body_page_service .bottom__tools .tools__phone,.body_page_team .bottom__tools .tools__phone {
	background: transparent url(../images/icon_phone_black.png) center center no-repeat;
}
.body_page_service .bottom__tools .tools__wechat,.body_page_team .bottom__tools .tools__wechat {
	background: transparent url(../images/icon_wechat_black.png) center center no-repeat;
}


.bottom__info {
	position: fixed;
	top: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	color: white;
	z-index: 11;
}
.bottom__info__container {
	height: 90px;
	padding: 35px 160px 35px 65px;
	box-sizing: border-box;
	background-color: #121313;
	transition: transform 0.4s cubic-bezier(.8,0,0,.8);
}
.bottom__info--open {
	overflow: visible;
}
.bottom__info--open .bottom__info__container {
	transform: translateY(-100%);
}
.bottom__info--closing .bottom__info__container {
	transform: translateY(0%);
}
.bottom__info-close {
	padding-left: 26px;
	position: relative;
	float: left;
	color: rgba(255,255,255,0.52);
	cursor: pointer;
	font-size: 14px;
	text-transform: uppercase;
}
.bottom__info-close span {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -1px;
	left: 0;
	transform: rotate(45deg);
}
.bottom__info-close span:before, .bottom__info-close span:after {
	content: '';
	display: block;
	width: 2px;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
}
.bottom__info-close span:before, .bottom__info-close span:after {
	content: '';
	display: block;
	width: 2px;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
}
.bottom__info-close span:after {
	transform: translate(-50%,-50%) rotate(-90deg);
}
.bottom__info ul {
	display: block;
	padding: 0;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0;
	text-align: center;
	z-index: -1;
}
.bottom__info li {
	display: inline-block;
	padding: 0 12px;
	position: relative;
	list-style-type: none;
}
.bottom__info li a {
	font-size: 14px;
	letter-spacing: 1px;
	transition: color 0.2s ease;
	color: white;
	text-transform: uppercase;
}
.bottom__info li a:hover {
	color: #fff;
}
.bottom__info li:after {
	content: '';
	display: block;
	width: 3px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%,-50%);
	border-radius: 100%;
	background-color: white;
}
.bottom__info li:first-child:after{
	display: none;
}
.bottom__info-contact{
	float: right;
}
.bottom__info-contact a:first-child {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 25px;
	background: url(../images/icon_share.png) no-repeat center;
	background-size: contain;
	vertical-align: middle;
}
.bottom__info-contact a {
	font-size: 14px;
	text-transform: none;
	color: white;
	text-decoration: none;
	vertical-align: middle;
}
.bottom__info-contact a:last-child {
    padding-left: 25px;
    border-left: 1px solid #f1f1f1;
}


/*栅格线条*/
.page_line{
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	z-index: 1;
}
.page_line .block{
	pointer-events: none;
	width: 4px;
	height: 52px;
	background: #fff;
	position: absolute;
	left: -4px;
	top: 0;
}
.page_line .line{
	pointer-events: none;
	width: 1px;
	height: 0px;
	background: #fff;
	opacity: .11;
	transition: all 1s ease-in-out;
}























